/* utility */
*{
    font-family: sans-serif;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.view{
    height: 100vh;
     width: 100%;
}


/* header */
header .container-fluid{
    flex-wrap: nowrap;
}

.container-fluid form{
    width: 50%;
    flex-grow: 1;
}

header form .input-group, .form-control{
    border-radius: 10px;
}

.ul{
    margin-top: 15px;
}

.form-control{
    border-left: none;
}

.dropdown-menu:hover{
    cursor: pointer;
}

.dropdown-menu{
    background-color: white;
}

/* aside bar */
aside{
    height: calc(100vh - 77px);
    width: 130px;
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
}

aside ul{
    padding-left: 0px;
}

aside ul li{
    padding: 0.4rem;
}

aside ul li:hover{
    background-color: lightgray;
    border-radius: .5rem;
}

/* central */
#central{
    width: calc(100% - 130px);
    height: calc(100vh - 87px);
    overflow-y: auto;
}
 
/* blue */
.blue{
    background-color: rgb(28, 115, 232);
}

.rounded-pill{
    background-color: rgba(0, 0, 0, 0.3);
}

.rounded-pill:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

#b-plus{
    border: none;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem;;
}
 
.badge ul{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    margin-left: 1rem;
}
 
#offcanvasRight{
    width: 50%;
}  

/* table */

#tables{
    width: 100%;
    background-color: rgb(248, 249, 250);
}

.table{
    border-top: 1px solid lightgray;
}

table tr th:first-child{
    width: 55%;
}

#tables .fa-code{
    background-color: rgb(226, 109, 89);
}

tbody tr td:not(.stay-left){
    text-align: center;
}

#tables th{
    padding: 0.9rem ;
}

.i-style{
    color: rgb(64, 64, 68);
    border: 1px solid rgb(64, 64, 68);
    border-radius: 6px;
    padding: 6px;
}

.i-style:hover{
    background-color: rgb(64, 64, 68);
    color: white;
}

/* faq */

/* todo */

.first-todo{
    border-top: 1px solid lightgray;
}

main .input-group-text, .form-control{
    border-radius: 0px;
}


/* chart */


/* media query */
@media screen and (max-width:1399px){
   
}

@media screen and (max-width:1199px){
    #offcanvasRight{
        width: 100%;
    }
}

@media screen and (max-width:991px){
    
}

@media screen and (max-width:767px){
    header .dropstart{
        margin-right: 1rem;
    }

    main aside{
        width: 50px;
    }

    #central{
        width: calc(100% - 50px);
    }

    .t-l{
        order: 3
    }

    .t-r{
        order: 1
    }

    .t-m{
        order: 2
    }

    table tr th:first-child{
        width: auto;
    }

 
}

@media screen and (max-width:575px){
    #tables table .nom{
        display: none;
    }
}


